<!-- todo_list/todo_app/templates/base.html -->
{% load static %}
<!-- Base template -->
<!doctype html>
	<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{% static 'todo_app/css/style.css' %}">
		<title>Django Todo List - Tarefa 11</title>
	</head>

	<body>
		<div>
			<h1 onclick="location.href='{% url "index" %}'">Django Todo List - Tarefa 11</h1>
		</div>
		<div>
			{% block content %}
			{% endblock %}
		</div>
	</body>
</html>
